:root {
  --main-color: #1abc9c;
  --secondary-color: #2c3e50;
}

.main {
  padding: 200px 0 100px;
  min-height: calc(100vh - 106px);
}

.star-shape {
  position: relative;
  width: 220px;
  margin: auto;
}

.star-shape span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 80px;
  height: 4px;
  background-color: #FFF;
}

.star-shape span::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 80px;
  height: 4px;
  background-color: #FFF;
}

a.active {
  background-color: var(--main-color) !important;
}

@media screen and (max-width: 250px) {

  .star-shape {
    width: 100px;
  }

  .star-shape span::before,
  .star-shape span::after {
    width: 30px;
  }
}